# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Test htmloader-service'
      'command': 'htmloader-service:test'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'htmloader-service'
      'submenu': [
        {
          'label': 'Test'
          'command': 'htmloader-service:test'
        }
      ]
    ]
  }
]
